<br />
<div class="container">
    <h1>All Orders</h1>
    <div class="row">
        <table class="table table-striped table-hover  text-center">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Order Id</th>
                <th class="text-center">Customer</th>
                <th class="text-center">Product</th>
                <th class="text-center">Sale Price</th>
                <th class="text-center">Ordered on</th>
            </tr>
            </thead>
            <tbody>
            {{{orders}}}
            </tbody>
        </table>
    </div>
</div>