<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<form method="POST">
    ИМЕ / NAME:<br />
    <input minlength="1" type="text" name="name" placeholder="Enter name [a-z]" /><br />
    <br />
    <input type="submit" value="Добави име / Submit name" />
</form>
<br />
<div style="display: inline; color:crimson; background-color:beige">
    Моля, въведете името само с малки букви на латиница!
    <br/>
    Please, enter name with small latin letters!
</div>
</body>
</html>